---
layout: default
---

<div class="page-wrapper home">
  <section class="home__posts home__section">
    <h1 class="home__section__title">Posts</h1>
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">
            <h2>{{ post.title }}</h2>
            <span class="home__posts__post-list__meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="home__tutorials home__section">
    <h1 class="home__section__title">Tutorials</h1>
    <ul class="tutorial-list">
      {% for tutorial in site.tutorials %}
        <li>
          <a href="{{ tutorial.url | prepend: site.baseurl }}">
            <h2>{{ tutorial.title }}</h2>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>
