.page-header {
  display: flex;
  flex-direction: row;
  &__title {
    color: #555;
    flex-grow: 1;
    margin: 5px 10px;
    text-decoration: none;
  }
  &__site-nav {
    ul {
      display: flex;
      flex-direction: row;
      li {
        a {
          color: #555;
          text-decoration: none;
        }
        list-style-type: none;
        margin: 5px 10px;
      }
    }
  }
}
