.page-header {
  display: flex;
  flex-direction: row;
  padding: .5em 1em;
  &__title {
    color: #555;
    flex-grow: 1;
    margin: 5px 10px;
    text-decoration: none;
  }
  &__site-nav {
    ul {
      display: flex;
      flex-direction: row;
      margin: 0;
      li {
        a {
          color: #555;
          text-decoration: none;
        }
        list-style-type: none;
        margin: 5px 10px;
      }
    }
  }
}

.post-list, .tutorial-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  a {
    display: block;
    padding: .2em 0;
    border-radius: 4px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

@media print {
  .page-header {
    display: none;
  }
}
